body {
    background-image: url("../images/trainStation.jpg");
    background-size: cover;
}

.jumbotron {
    color: antiquewhite;
    background: black;
}

#currentTime {
    background: white;
    color: black;
    width: 21%;
    padding: 5px;
    float: right;
  
}

footer {
    background: rgba(0, 0, 0, 0.459);
    color: antiquewhite;
    padding: 3px;
    margin: 0%;
    text-align: center;
}