body {
    background-image: url("../images/trainStation.jpg");
    background-size: cover;
}

.jumbotron {
    color: antiquewhite;
    background: black;
}

#currentTime {
    background: white;
    color: black;
    width: 21%;
    padding: 5px;
    float: right;
  
}