body {
    background-image: url("../images/trainStation.jpg");
    background-size: cover;
}

.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url("../images/red-lobed-fall-clipart-leaf.png");
    background-size: 100% 100%;
  }
  html, #effect-container {width:100%; height:100%; }

.jumbotron {
    color: antiquewhite;
    background: black;
}

#currentTime {
    background: white;
    color: black;
    width: 21%;
    padding: 5px;
    float: right;
}

footer {
    background: rgba(0, 0, 0, 0.459);
    color: antiquewhite;
    padding: 3px;
    margin: 0%;
    text-align: center;
}